name: SQL Script
on: [push]

jobs:
  build:
    name: Test, Run
    runs-on: ubuntu-latest
    steps:
      - run: mysql --user rfamro --host mysql-rfam-public.ebi.ac.uk --port 4497 --database Rfam < script.sql
